
// Text Colors
$header-text-color: #3F2113;
$body-text-color: #1E1E24;
$light-text-color: #FFFFFF;

// Element Colors
$nav-color: #111D4A;
$link-color: #788ADA;
$jumbotron-color: #e6e6e6;
$card-header-color: #D8D4F2;
$background-color: #FFFFFF;
$hr-color: #788ADA;
$nav-font: #FFFFFF;


// black ish 1E1E24
// light purp D8D4F2
// med grey C1C1C1
// white ish FFFFFF
// dark blue 111D4A
// white cream FFF8F0



